.flex {
    display: flex;
}

.subtitulo {
    font-family: 'Dancing Script', cursive;
    color: #daa520;
    margin: 0 auto;
    font-size: 38px;
}

.main_container {
    margin: 40px 0 0 0;
    flex-direction: column;
    width: 100%;
 
}

.subcontainer {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 20px 0;
    z-index: 999;
    flex-wrap: wrap;
}


.card {
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}